# ==============================================
ANTHROPIC_API_KEY=
INSTAGRAM_USER=
# ==============================================
# Ключ API
TMDB_API_KEY_2=
# ==============================================
