# ==============================================
ANTHROPIC_API_KEY=
INSTAGRAM_USER=
INSTAGRAM_PASS=
# ==============================================
# Ключ доступа к API
TMDB_API_KEY=
# Ключ API
TMDB_API_KEY_2=
# ==============================================
